body {
	background: url('../images/dif_bg.png') #1370A9 top center repeat-x;
	margin: 0;
}
.encabezado {
  position:relative;
	display: block;
	width: 940px;
	height: 400px;
	clear: both;
	margin: auto;
  margin-top: -100px;
	text-align: right;
}
.content {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	line-height: 21px;
}
.footer {
	display: block;
	height: 120px;
	background: #0D4A70;
	width: 100%;
	font-size: 32px;
}
.siguenos {
	display: block;
	width: 940px;
	margin: auto;
}
.siguenos h4 {
	font-family: 'Bevan', 'Arial Black', serif;	
	font-weight: normal;
	color: #3396CC;
	float: left;
	margin: 10px;
}
.siguenos ul
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	float: left;
	list-style: none;
}
.siguenos a
{
	display: block;
	height: 22px;
	padding-left: 30px;
	color: #9DCCF6;
	text-decoration: none;
	margin: 10px;
}
.fbbtn
{
	background: url('../images/icon_facebook.png') 0 -22px no-repeat;;
}
.twbtn
{
	background: url('../images/icon_twitter.png') 0 -22px no-repeat;;
}
li a:hover
{
	background-position: 0 0px;;
	color: #FFFFFF;
}
h1 {
		font-family: 'Bevan', 'Arial Black', Gadget, sans-serif serif;
color: #DD4F85;
	text-shadow: 2px 2px 2px #832D4D;
	font-size: 40px;
}
h2 {
	font-family: 'Bevan', 'Arial Black', serif;
	font-weight: normal;
	color: #DD4F85;
}

.div-pict {
  margin: 10px 0;
}
.pict {
  border: 10px #96C4DD solid;
}

#gdl2012-home .pane-content { 
  background: #FFF;
}

/** Menu **/
#header-bar {
  height:100px;
  background: url(../images/bg_menu.jpg);
}

#main-menu {
  padding-top: 30px;
  float:none;
}

#main-menu h2 {
  font-family: helvetica;
}

#main-menu ul {
  background: none;
}

#main-menu ul li {
  padding: 0px;
  display:block;
  float:right;
}

#main-menu ul li:hover ul {
  top:50px!important;
  width: 140px!important;
}

#main-menu ul li ul li {
  background: url(../images/bg_menu.jpg) repeat;
  width: 140px!important;
}

#main-menu ul li ul li a {
  font-size: 13px;
  border-right: 0px;
  float:none;
  height: auto; 
  font-family:helvetica;
}


#main-menu ul li ul li a:hover  {
  background:none;
  font-size:13px;
}

#main-menu ul li:hover {
  background: url(../images/bg_menu_over.jpg) repeat;
}

#main-menu ul li a {
  color: #72A3C3;
  text-decoration: none;
  border-right: 1px solid #B2B4B3;
  padding: 20px 0px;
  height: 15px;
  display:block;
  float:right;
  font-size:18px;
  width:140px;
  text-align:center;
}

#main-menu ul li a:hover {
  color: #B7496E;
  background: url(../images/b_starblock.png)  10px 17px no-repeat;
  font-size:18px;
}

#logo {
  background: url(../images/logo_dsl.png) no-repeat;
  width: 203px;
  height: 347px;
  position: absolute;
  top: 0px;
}

.megamenu-skin-friendly .hovering .megamenu-parent-title a,
.megamenu-skin-friendly .hovering .megamenu-parent-title span,
.megamenu-skin-friendly li.megamenu-slot:hover,
.megamenu-skin-friendly li.megamenu-slot{ 
  background: transparent;
}

.megamenu-skin-friendly li.megamenu-slot {
  box-shadow:0px 0px 0px;
  margin-bottom:0px;
}
.megamenu-skin-friendly li.megamenu-slot{
  margin: 0px;
} 

.megamenu-skin-friendly .megamenu-parent-title a,
.megamenu-skin-friendly .megamenu-parent-title span,
.megamenu-skin-friendly .hovering .megamenu-parent-title a:hover{
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
}

.megamenu-skin-friendly .megamenu-slot,
.megamenu-skin-friendly .megamenu-slot a:hover{
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}

.megamenu-skin-minimal .megamenu-bin {
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}


.megamenu-skin-friendly li.megamenu-slot{
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-opera-border-radius:0px;
	-khtml-border-radius:0px;
  -khtml-box-shadow:rgba(0,0,0,.33) 0px 0px 0px;
	-moz-box-shadow:rgba(0,0,0,.33) 0px 0px 0px;
	box-shadow:rgba(0,0,0,.33) 0px 0px 0px;

}
.megamenu-skin-friendly .megamenu-slot-title {
  font-size: 18px;
  font-weight: normal;
  line-height: 100%;
}
