body {
	background: url('../images/dif_bg.png') #1370A9 top center repeat-x;
	margin: 0;
}
.encabezado {
  border:1px solid #000;
  position:relative;
	display: block;
	clear: both;
	margin: auto;
  margin-top: -100px;
	text-align: right;
  width:940px;
}
/** banner  **/
#banner{
  margin-top: 110px;
}
.home-page-banner {
  background: url('../images/banners/banner_home.jpg');
  width:940px;
  height:300px;
}


.panel-pane {
  padding: 25px 10px;
}

.content {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	line-height: 21px;
}
.fbbtn
{
	background: url('../images/icon_facebook.png') 0 -22px no-repeat;;
}
.twbtn
{
	background: url('../images/icon_twitter.png') 0 -22px no-repeat;;
}
li a:hover
{
	background-position: 0 0px;;
	color: #FFFFFF;
}
h1 {
		font-family: 'Bevan', 'Arial Black', Gadget, sans-serif serif;
color: #DD4F85;
	text-shadow: 2px 2px 2px #832D4D;
	font-size: 40px;
}
h2 {
	font-family: 'Bevan', 'Arial Black', serif;
	font-weight: normal;
	color: #DD4F85;
}

h2.pane-title{
  font-size:20px;
  font-family: helvetica; 
  padding-left:20px;
  background: url(../images/b_starblock.png) no-repeat;
  font-weight:bold;
}

.div-pict {
  margin: 10px 0;
}
.pict {
  border: 10px #96C4DD solid;
}

.panel-pane { 
  background: #FFF;
  margin: 10px 0;
}

/** Menu **/
#header-bar {
  height:100px;
  background: url(../images/bg_menu.jpg);
}

#main-menu {
  padding-top: 30px;
  float:none;
}

#main-menu h2 {
  font-family: helvetica;
}

#main-menu ul {
  background: none;
}

#main-menu ul li {
  padding: 0px;
  display:block;
  float:right;
}

#main-menu ul li ul {
  top:50px;
  width: 140px;
}

#main-menu ul li.hovering ul,
#main-menu ul li:hover ul {
  top:50px!important;
  width: 140px!important;
}

#main-menu ul li ul li {
  background: url(../images/bg_menu.jpg) repeat;
  width: 140px!important;
}

#main-menu ul li ul li a {
  font-size: 13px;
  border-right: 0px;
  float:none;
  height: auto; 
  font-family:helvetica;
}


#main-menu ul li ul li a:hover  {
  background:none;
  font-size:13px;
}

#main-menu ul li:hover {
  background: url(../images/bg_menu_over.jpg) repeat;
}

#main-menu ul li a {
  color: #72A3C3;
  text-decoration: none;
  border-right: 1px solid #B2B4B3;
  padding: 20px 0px;
  height: 15px;
  display:block;
  float:right;
  font-size:18px;
  width:140px;
  text-align:center;
}

#main-menu ul li a:hover {
  color: #B7496E;
  background: url(../images/b_starblock.png)  10px 17px no-repeat;
  font-size:18px;
}

#logo {
  background: url(../images/logo_dsl.png) no-repeat;
  width: 203px;
  height: 347px;
  position: absolute;
  top: 0px;
  left:20px;
}

.megamenu-skin-friendly .hovering .megamenu-parent-title a,
.megamenu-skin-friendly .hovering .megamenu-parent-title span,
.megamenu-skin-friendly li.megamenu-slot:hover,
.megamenu-skin-friendly li.megamenu-slot{ 
  background: transparent;
}

.megamenu-skin-friendly li.megamenu-slot {
  box-shadow:0px 0px 0px;
  margin-bottom:0px;
}
.megamenu-skin-friendly li.megamenu-slot{
  margin: 0px;
} 

.megamenu-skin-friendly .megamenu-parent-title a,
.megamenu-skin-friendly .megamenu-parent-title span,
.megamenu-skin-friendly .hovering .megamenu-parent-title a:hover{
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
}

.megamenu-skin-friendly .megamenu-slot,
.megamenu-skin-friendly .megamenu-slot a:hover{
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}

.megamenu-skin-minimal .megamenu-bin {
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}


.megamenu-skin-friendly li.megamenu-slot{
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	-opera-border-radius:0px;
	-khtml-border-radius:0px;
  -khtml-box-shadow:rgba(0,0,0,.33) 0px 0px 0px;
	-moz-box-shadow:rgba(0,0,0,.33) 0px 0px 0px;
	box-shadow:rgba(0,0,0,.33) 0px 0px 0px;

}
.megamenu-skin-friendly .megamenu-slot-title {
  font-size: 18px;
  font-weight: normal;
  line-height: 100%;
}

/** Introducción **/
.introduccion h2.pane-title {
  font-size:25px;
  padding-bottom:15px;
  background-image: none;
  font-family: 'Bevan', 'Arial Black', Gadget, sans-serif serif;
  padding-left:0px;
}


/* Participa */
.participa {
  background: transparent;
  margin-bottom:30px;
}

.panel-pane.participa{
  padding: 0px;
}

.participa h2 {
  color:#FFF;
  background: url(../images/b_starnoblock.png) 1px 1px no-repeat;
  padding-left:20px;
  font-family: Helvetica;
  font-size:20px;
  margin-bottom: 10px;
}

.participa ul li {
  list-style-image: none;
  list-style-type: none;
  margin: 0px;
}

.participa li a {
  color: #FFF;
  text-decoration:none;
}

.participa .btn-participa { 
  display:block;
  padding: 27px 10px 27px 90px;
  font-size:16px;

}

.participa .participa-patrocinadores {
  background: url('../images/btn_patroc.png') 0 -80px no-repeat;
}
.participa .participa-patrocinadores:hover {
  background: url('../images/btn_patroc.png') 0 0px no-repeat;
}


.participa .participa-proponerunasesin {
  background: url('../images/btn_sesion.png') 0 -80px no-repeat;
}
.participa .participa-proponerunasesin:hover {
  background: url('../images/btn_sesion.png') 0 0px no-repeat;
}

.participa .participa-proponerunasesin {
  background: url('../images/btn_sesion.png') 0 -80px no-repeat;
}
.participa .participa-proponerunasesin:hover {
  background: url('../images/btn_sesion.png') 0 0px no-repeat;
}

.participa .participa-regstrate {
  background: url('../images/btn_regist.png') 0 -80px no-repeat;
}
.participa .participa-regstrate:hover {
  background: url('../images/btn_regist.png') 0 0px no-repeat;
}


.participa .participa-voluntarios {
  background: url('../images/btn_volunt.png') 0 -80px no-repeat;
}
.participa .participa-voluntarios:hover {
  background: url('../images/btn_volunt.png') 0 0px no-repeat;
}


/** Noticias **/
.noticias .pane-content .node {
  border-bottom: 1px solid #B8486E;  
  padding: 0px 0 20px 0;
  margin: 10px;
}

.noticias .node h2 a {
  text-decoration: none; 
	color: #DD4F85;
  font-size: 20px;
  font-family: helvetica;
  padding: 10px 0;
  display:block;
}

.noticias a {
  color: #66AEDE;
}

.noticias a:hover{
  color: #66AEDE;
}

/* Poll */
#poll-view-voting .poll {
  margin-top:10px;
}
#poll-view-voting .poll label,
#poll-view-voting .poll .title {
  color: #66AEDE;
}

.poll .vote-form {
  margin-bottom:10px;
}

/* Login */
.pane-user-0 {
  background:#E7E7E7;
}

.pane-user-0 .form-item {
  text-align: left;
}

.pane-user-0 .form-item label {
  color: #66AEDE;
}

.pane-user-0 .form-item input {
  width:98%;
}

.form-submit{
  display:block;
  background: url(../images/btn_bg_aceptar.jpg) repeat;
  color: #fff;
  padding: 2px 15px;
  margin-bottom:10px;
  float:right;
}

.pane-user-0 .item-list {
  clear:both;
  color:#66AEDE;
  font-size:12px
}


.pane-user-0 .item-list li {
  list-style-image: none;
  list-style-type: none;
}


.pane-user-0 .item-list  a {
  color:#66AEDE;
  font-size:12px
  text-decoration:none;
  float:left;
  padding: 0 5px;
}

/* Footer */
.footer_content {
  background: #0C4A6F;
  width:100%;
}

.footer {
	font-size: 15px;
  padding-top:20px;
}

.footer ul {
  margin-left: 10px;
}

.footer ul li {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0px;
  padding-left: 0px;
  margin:10px 0;

}

.footer h3,
.footer ul li a{ 
  text-decoration:none;
  color:#93C8F0;
}

.footer h3{
  font-size:18px;
  display:block;
  border-bottom:1px solid #93C8F0;
  margin-top:10px;
  padding: 5px 10px;
}

#copyright {
  margin: 50px 0 10px 0;
}

#copyright span {
  margin: auto;
  text-align:center;
  display:block;
  color:#93C8F0;
}

/*Paginas interiores */
.interiores {
  margin:0px;
  margin-left: 0px;
  padding-right:0px;
  padding-left:10px;
}

.sidebar {
  margin:0px;
  padding-left: 10px;
  margin-right: 0px;
}

.interiores-bg {
  background: #FFF;
  margin-left:10px;
  width:940px;
}
